repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          - --extra-keys
          - metadata.widgets metadata.execution metadata.widgets_state metadata.kernelspec metadata.language_info

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]
        types_or: [python, jupyter]

  - repo: local
    hooks:
      - id: export-environment
        name: Export pyproject.toml to environment.yml for Binder
        entry: .pre-commit-scripts/export-environment.sh
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false
