# For Python < 3.11 (Binder's older Python)
scipy>=1.10; python_version < "3.11"

# For Python >= 3.11 (newer SciPy supports 3.11+)
scipy>=1.16.3; python_version >= "3.11"

# other libs (lower-bounds only)
numpy>=1.24
nibabel>=5.3.2
ipyniivue>=2.4.2
jupyterlab
ipywidgets